

.border-nav {
  border: 1px solid #d3d3d3 ;
}

.button.is-primary {
  margin: auto;
}

.button-area.on-the-map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
  padding-top:10px;
  align: center;
}

.button-area a {
  padding: 1em 2.4em;
  margin: 1em;
  text-align: center;
  height: 20px;
  width: 5px;
}



.logo {
  font-family: cursive;
  width: 100px;
  font-size: 30px;
  font-weight: bolder;
}

.container1 {
  /* height: 50px;
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  border: 1px solid #d3d3d3; */
  padding-left: 20px;
}

.city-heading {
 margin: auto;
 text-align: center;
}

.city-input {
  text-align: center;
  /* margin-left: 34%;
  padding-top: 80px; */ 
}

.hero-title {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-top: -55px;
  text-shadow: 0.1em 0.1em 0.4em black;
}


.hero-subtitle {
  text-shadow: 0.1em 0.1em 0.4em black;
  color: white;

}

#hero-hr {
    border: none;
    height: 4px;
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
    width: 30%;
    text-align: left;
    margin-left: 35%;
}

/* Failed attempt to style the section block */
/* .event-search {
  height: 50px;
  width: 100%;
} */

.input-location {
  width:200px;
  height:50px;
}

.input-date {
  width:150px;
  height:50px;
}

.get-started {
  width:150px;
  height:50px;
  background-color: #1fc8db;

}


.space_edit {
  overflow-y: scroll;
  height: 100%;
  padding-left: 25px;
}

/* .container-map {
  width: 100%;
  height: 100%;
  position: relative;
} */

.search-form {
  padding-top: 20px;
  /* padding-left: 10px; */
}

.column .search-form {
 background-color: white;
 text-align: center;
 height: 180px;
 width: 100%;
 border: 1px solid #d3d3d3;
}

.range-finder {
  margin-top: 30px;
  color: #1fc8db;
}

.city-heading .search-form {

}

.column .input-date {
  margin-left: 10px;
}

.search-and-date {
  background-color: white;
  padding: 0px;
}

.map-button {
  position: relative;
}

.hero-body {
  background-image: url("/src/images/people-eiffel-tower-lights-night copy.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 240px !important;
  padding-bottom: 380px !important;
}

.how-it-works-headings {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#how-it-works-images img {
  /* border-radius: 55px; */
  width: 275px;
  height: 150px;
  display: block;
  margin: 0 auto;
  border: 2px solid #d3d3d3;
}

#how-it-works-images p {
  color: #222;
  text-align: center;
  font-family: sans-serif;
}

.warning {
  color: red;
}

.gmnoprint {
  display: none;
}

/* #on-the-map {
  z-index: 2;
} */

/*.space_edit2 {
  padding-left: 20px;
}*/

/*.city_location {
  height: 50px;
  width: 100%;
  background-color: white;
  padding: 0px;
}*/


#homepage-gif {
  position: relative;
  top: -220px;
}

#eventpage-gif {
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  float: right;
  overflow: auto;
  /*float: none; */
  /*width: auto; */
}